<nav class="jsp-navbar">
    <ul>
        <div class="jsp-navbar__right">
            <li>
                <a href="#training">Training</a>
            </li>
            <li>
                <a href="#mystory">My Story</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="../resume">Resume</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/joshua-scott-97347011b/">LinkedIn</a>
            </li>
        </div>
    </ul>

</nav>