<% include ./partials/_header %>
    <div class="jsp-header">
        <div class="jsp-header__easy-contact-info">
            <h2>Joshua Scott - (83O) 3O5-5533 - joshuascott81@gmail.com</h2>
        </div>
        <nav class="jsp-navbar">
            <ul>
                <div class="jsp-navbar__right">
                    <li>
                        <a href="/">Back</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/joshua-scott-97347011b/">LinkedIn</a>
                    </li>
                </div>
            </ul>
        </nav>

    </div>
    <div class="jsp-resume">
        <iframe src="https://docs.google.com/document/d/e/2PACX-1vSzdU7tc0TosDjg4j223gYZgeAqJ6B4BTq0irK6riFQcHPBdvnJxJjviVEAiOEia4muAUycBAx72oUR/pub?embedded=true"></iframe>
    </div>

    <% include ./partials/_footer %>