.jsp-mystory {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.jsp-mystory h2 {
  flex-basis: 100%;
  text-align: left;
  padding-left: 1rem;
  text-shadow: 1px 1px 1px rgb(216, 216, 216);
  font-size: 2rem;
  display: inline;
}
